.optionBtn {
    margin-left: 10px;
    margin-right: 10px;
}

.toolbar {
    width: 100%;
/*    padding-left: 100px;
    padding-right: 100px;
    text-align: left;*/
}

.center-text {
    width: 100%;
    text-align: center;
}

.left-text {
    width: 100%;
    text-align: left;
}

.right-text {
    width: 100%;
    text-align: left;
}

.main-map {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 100px;
    bottom: 0px;
    align-content: center;

    z-index: 1;
}

.locate-select-map {
    position: relative;
    left: 0px;
    right: 0px;
    height: 300px;
}

.pick-route-map {
    position: relative;
    width: 100%;
    height: 400px;
}

.popupwindow {
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: auto;
}


.column {
    float: left;
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
}
.column-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.form-in {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.form-num-in {
    width: 70px;
}
.form-desc-in {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}
.image-list {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100px;
    border: solid;
    border-width: 0.5px;
    border-color: #A0A0A0;
    z-index: 8;
}
.image-list-item {
    position: relative;
    width: 75px;
    height: 75px;
    display: inline-block;
    border: solid;
    margin: 2px;
    z-index: 9;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgray;
}
.image-list-dragged {
    z-index: 11 !important;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0%;
  height: 20px;
  width: 20px;
  font-size: 12px;
  text-align: center;
  z-index: 10;
}
.close:hover {background: #bbb;}

.profile-info {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding: 5px;
}

.error-text {
    color : red;
}

th, td {
    text-align: left;
    padding-right: 10px;
}

.table#filters th {
    background-color: #a4925a 
}

.table#filters td {
    background-color: #a4925a 
}

.route-list-item {
    position: relative;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.delete-list-item {
    position: absolute;
    right:0px;
}