.leaflet-container {
    position: fixed;
    top: 50px;
    bottom: 40px;
    width: 100%;
    align-content: center;

/*    z-index: 1;*/
}

/* Modal {
   align-content: center;
} */

button {
    background-color: #FFD700;
}