.popupwindow{
    height: 90%;
    width: 100%;
    max-height: fit-content;
    max-width: fit-content;
    align-content: center;

    /* background: chocolate;
    border: solid 3px #cccccc; */
}

img.bordered{
    height: 900%;
    width: 90%;
    border: solid 1px #cccccc;

}

.buttons{
    align-content: center;
    margin-right: 5px;
}

.descriptions{
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #cccccc;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    height:200px;
    overflow-y:scroll;
}
