.App-footer{
    position: fixed;
    width: 100%;
    background-color:#B3A369;
    max-height: fit-content;
    height: 35px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    color: var(--blktxt);
    /*Shadow*/
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(30, 45, 70, .5);

}

