.leaflet-container {
    position: fixed;
    top: 35px;
    bottom: 35px;
    width: 100%;
    align-content: center;

/*    z-index: 1;*/
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.center-text {
    text-align: center;
}

.leaflet-routing-container-hide {
    display: none;
}


button {
    background-color: #B3A369;
    margin-left: 10px;
    margin-right: 10px;
}


/* todo: make it prettier */
#route-button{
    width: 2.5rem !important; 
    height: 2.5rem !important;
    border-radius: 50%;
    border: solid 2px #ddd6bb;
    background-color: #B3A369; 
    z-index: 1000000;
    position: fixed;
    right: 10px;
    top: 50px;
}



