.settingWindow{
    height: 100%;
    width: 100%;
    max-height: fit-content;
    align-content: center;
}

.styles_modal__gNwvD{
    width: 100%;
}

.css-1r4vtzz{
    margin-bottom: 10px;  
}

#restart{
    margin-top: 30px;
}

ul {
    list-style: none;
}

#admin-button{

    background-color:red;
}

/* admin button only visible for laptop users */
@media (max-width: 800px) {
    #admin-button{
        display: none;
    }
  }





